@mixin user-photo-icon {
  box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: .3rem solid $color-white;
  position: relative;
  z-index: 1;
  transition: all .2s;
  padding: .1rem;
  background-color: $color-white;

  &:hover {
    transform: translateY(-.5rem) scale(2);
    z-index: 100;
    border-color: $color-primary;

    @include respond(medium) {
      transform: translateY(-.5rem) scale(1.5);
    }
  }
}

/*
MEDIA QUERY MANAGER

0 - 600px:      phone
600 - 900px:    tablet portrait
900 - 1200px:   tablet landscape
1200 - 1800px:  normal styles
1800px+:        big desktop

$breakpont:
- phone
- tab-port
-tab-land
-big-desktop
*/
@mixin respond($breakpoint) {
  @if $breakpoint == largest {
    @media only screen and (max-width: 75rem) { @content }; // 1200px /16px
  }

  @if $breakpoint == large {
    @media only screen and (max-width: 68.5rem) { @content }; // 1100px /16px
  }

  @if $breakpoint == medium {
    @media only screen and (max-width: 56.25em) { @content }; // 900px /16px
  }

  @if $breakpoint == small { 
    @media only screen and (max-width: 37.5em) { @content }; // 600px /16px
  }

  @if $breakpoint == smallest {
    @media only screen and (max-width: 25em) { @content }; // 400px /16px
  }
}