$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;


$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

$shadow-dark: 0 2rem 6rem rgba($color-black, .3);
$shadow-light: 0 2rem 5rem rgba($color-black, .1);

$line: 1px solid $color-grey-light-2;

// FONT
$default-font-size: 1.6rem;

$border-radius: 5px;


$bp-largest: 75rem; // 1200px /16px
$bp-large: 68.5rem; //1100px /16px
$bp-medium: 56.25rem; //900px /16px
$bp-small: 37.5rem; // 600px
$bp-smallest: 25em; // 400px