.cta {
  padding: 3.5rem;
  text-align: center;

  @include respond(medium) {
    padding: 2.5rem;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(
    to right, 
    $color-primary-light, 
    $color-primary-dark
  );
  color: $color-white;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all .5s;
  }

  &__visible {
      padding: 2rem 7.5rem;
  }

  &__invisible {
      position: absolute;
      padding: 2rem 0;
      left: 0;
      top: -100%;
  }

  &:hover {
    background-image: linear-gradient(
      to left, 
      $color-primary-light, 
      $color-primary-dark
    );
  }

  &:hover &__visible {
      transform: translateY(100%);
  }

  &:hover &__invisible {
      top: 0;
  }

  &:focus {
      outline: none;
      animation: pulsate 1s infinite;
  }
}