.recommend {
  font-size: 1.3rem;
  color: $color-grey-light-4;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__count {
    margin: 0 auto;
  }

  &__friends {
    display: flex;
  }
  
  &__photo {
    @include user-photo-icon;
    
    &:not(:last-child) {
      margin-right: -1rem;
    }
  }
}