.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
    width: 100%;
  }

  &__item {
    position: relative;

    @include respond(medium) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;

      @include respond(medium) {
        margin-bottom: 0rem;
      }
    }
  }

  &__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-primary;
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s,
                background-color .1s;
  }

  &__item:hover:before,
  &__item--active::before {
      transform: scaleY(1);
      width: 100%;
  }

  &__item:active:before {
    background-color: $color-primary-light;
  }

  &__link:link,
  &__link:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      position: relative;
      z-index: 10;

      display: flex;
      align-items: center;

      @include respond(medium) {
        justify-content: center;
      }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @include respond(small) {
      margin-right: 0;
    }
  }

  &__link-name {
    @include respond(medium) {
      display: none;
    }
  }
}