*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 62.5%; // 1rem = 10px;

  @include respond(large) {
    font-size: 56.5%;
  }

  @include respond(medium) {
    font-size: 52%;
  }

  @include respond(small) {
    font-size: 45%;
  }
}

body {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}